{% load notifications_tags %}
{% notifications_unread as unread_count %}


<script>
    //判断此用户今日是否已经打卡
    function isClockIn() {
        $.ajax({
            url: '{% url 'clockin:is_clockin' %}',
            type: 'get',
            success: function (msg) {
                json = eval("(" + msg + ")")
                if (json.result == "False") {
                    alert("今日已打卡")
                } else if (json.result == "True") {
                    window.location.href = "{% url 'clockin:daily_clockin' %}"
                } else if (json.result == "Org") {
                    alert("请先绑定所属单位/学校")
                }
            }
        })
    }
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">

        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="{% url 'login:index' %}">疫情健康打卡</a>

        <!-- 导航入口 -->
        <div>
            <ul class="navbar-nav">
                <!-- 条目 -->
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login:register' %}">没有账号？</a>
                    </li>
                {% elif user.is_superuser == 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" onclick="isClockIn()">打卡</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clockin:clockin_history' %}">打卡记录</a>
                    </li>
                {% elif request.session.admin_level != 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adminuser:navi_statistics' %}">统计数据</a>
                    </li>
                {% endif %}
                {% if user.is_superuser == 1 and request.session.admin_level == 1 %}
                    <a class="nav-link" href="{% url 'adminuser:register' %}">新增管理员</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="{% url 'login:user_detail' %}"
                           id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <!-- 通知小红点 -->
                            {% if unread_count %}
                                <svg viewBox="0 0 8 8"
                                     width="8px"
                                     height="8px">
                                    <circle cx="4"
                                            cy="4"
                                            r="4"
                                            fill="#ff6b6b"
                                    ></circle>
                                </svg>
                            {% endif %}
                            {{ user.user_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- 通知计数 -->
                            {% if not user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'notice:list' %}">通知
                                {% if unread_count %}
                                    <span class="badge bg-danger">{{ unread_count }}</span>
                                {% endif %}
                            </a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url "login:user_detail" %}">个人资料</a>
                            <a class="dropdown-item" href="{% url "login:user_logout" %}">退出登录</a>
                        </div>
                    </li>
                    <li class="navbar-brand">
                        <img class="rounded" src="{{ user.profile_photo.url }}" width="25" height="25">
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login:user_login' %}">登录</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>